<div class="jumbotron">
<div class="container">

  <h2>O technologiach</h2>
  <p style="line-height: 1cm; ">
  - Strona została utworzona na systemie Windows. Sprawiło to kilka problemów, ale ostatecznie udało się ukończyć projekt <br>
  - Strona zbudowana jest przy pomocy technologii ruby on rails 5.0.0 <br>
  - Strona współpracuje z bazą PostgreSQL <br>
  - Została stworzona, by ułatwić tworzenie, edytowanie, doawanie oraz wyszukiwanie użytkowników w bazie danych<br>
  - Do poprawienia wyglądu strony użyłem Bootstrapa
  - Strona jest responsywa, dostosowuje się do rozdzelczości ekranu<br>
  - Tabele można przeglądać sprawnie na dużych monitorach oraz urządzeniach mobilnych
  </p>

 <div class="col-md-6">
  <%= image_tag("thanks.png", :alt => "rss feed", class:"img-responsive", width:'90%' , height:'90%', class:"pull-center" )%>
  <div>
  </div>
</div>
