
<div class="jumbotron">
<div class="container">
  <h1>Witam</h1>
  <div class="col-md-6">
  <p style="line-height: 1cm; ">Strona służy do zarządzania bazą użytkowników. <br>
  Można na niej:<br>
  - dodawać nowych użytkowników <br>
  - usuwać istniejących użytkowników <br>
  - edytować istniejących użytkowników. <br>
  - wyszukiwać użytkowników w bazie danych. <br>
  </p>
  </div>
 <div class="col-md-6">
  <%= image_tag("welcome.jpg", :alt => "rss feed", class:"img-responsive", width:'90%' , height:'90%' )%>
  <div>
  </div>
</div>
